@import "../../styles/variables";

.link {
  font-size: $base-font-size;
}
.add-btn {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .link {
    padding: calc($base-font-size / 2);
  }
}
