<div class="post-container">
  <!-- Post Details -->
  <div class="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
    <small>User ID: {{ post.userId }} | Post ID: {{ post.id }}</small>
  </div>

  <hr />

  <!-- Comments Section -->
  <h3>Comments</h3>
  <div class="comments-container">
    <div *ngFor="let comment of comments$ | async" class="comment">
      <h4>{{ comment.name }}</h4>
      <p>{{ comment.body }}</p>
      <small>{{ comment.email }}</small>
    </div>
  </div>
</div>
